[Desktop Entry]
Name=HMCL
Version=1.0
Icon=/home/howard/hw/hmcl/hmcl.png
X-Icon-Path=/home/howard/hw/hmcl/hmcl.png
Exec=/usr/bin/java -jar /home/howard/hw/hmcl/HMCL-3.6.11.jar
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.27
